@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@800&display=swap');

body {
    background-color: #050505f7;
}

.title {
    font-family: 'Playpen Sans', cursive;
    position: relative;
    color: white;
    top: 15vh;
    left: 15vw;
    font-size: 150%;
}

.description {
    position: relative;
    left: 25%;
    border: 5px solid white;
    border-radius: 5%;
    height: 70vh;
    width: 30vw;
    text-align: center;
}

.desc-text {
    color: white;
}